@import './variables';
body{
    font-family: 'Roboto', sans-serif;
//   -webkit-font-feature-settings: ;
color: $dark;
height: 4000px;
}

nav li:last-child a{
    background: $primary;
    &:hover{
        background: $primary-hover;
    }
}
nav li a{
    transition: all .3s ease-in-out;
    &:hover{
        color: $primary;
    }
}
section.hero{
    background: $secondary;
}

.size{
    background: $secondary;
}
.add-to-cart{
    border: 2px solid $primary;
    color: $primary;
    transition: all .3s ease-in-out;
    &:hover{
        background: $primary;
        border-color: $pure;
        color: $pure;
    }
}


